<div
  *ngrxLet="successCount$; let successCount"
  [ngClass]="{
    'passwordstrength-weak': successCount < fairLevel,
    'passwordstrength-fair': successCount >= fairLevel && successCount < goodLevel,
    'passwordstrength-good': successCount >= goodLevel && successCount < strongLevel,
    'passwordstrength-strong': successCount >= strongLevel && successCount < veryStrongLevel,
    'passwordstrength-verystrong': successCount === veryStrongLevel
  }"
  data-testid="password-strength"
  class="passwordstrength">
  <div class="passwordstrength-levels">
    <div
      *ngFor="let level of validatorsRange; let i = index; trackByProperty"
      [attr.data-testid]="(successCount > i) ? 'password-strength-level-filled' : 'password-strength-level'"
      [ngClass]="{ 'passwordstrength-level-filled': successCount > i }"
      class="passwordstrength-level">
    </div>
  </div>
  <div
    *ngIf="successCount; else note"
    data-testid="password-strength-level-text"
    class="passwordstrength-level-text">
    <ng-container *ngIf="controlState.errors.minLength || successCount < fairLevel">
      {{ weakLevelText || ('SHARED.PASSWORD_STRENGTH.TEXT_WEAK' | translate) }}
    </ng-container>
    <ng-container *ngIf="successCount >= fairLevel && successCount < goodLevel,">
      {{ fairLevelText || ('SHARED.PASSWORD_STRENGTH.TEXT_FAIR' | translate) }}
    </ng-container>
    <ng-container *ngIf="successCount >= goodLevel && successCount < strongLevel">
      {{ goodLevelText || ('SHARED.PASSWORD_STRENGTH.TEXT_GOOD' | translate) }}
    </ng-container>
    <ng-container *ngIf="successCount >= strongLevel && successCount < veryStrongLevel">
      {{ strongLevelText || ('SHARED.PASSWORD_STRENGTH.TEXT_STRONG' | translate) }}
    </ng-container>
    <ng-container *ngIf="successCount === veryStrongLevel">
      {{ veryStrongLevelText || ('SHARED.PASSWORD_STRENGTH.TEXT_VERY_STRONG' | translate) }}
    </ng-container>
  </div>
  <ng-template #note>
    <div class="passwordstrength-note">
      {{ 'SHARED.PASSWORD_STRENGTH.TEXT_NOTE' | translate }}
    </div>
  </ng-template>
</div>
