@import 'vars';

:host ::ng-deep .passwordstrength {
  &-levels {display: flex; justify-content: space-between; margin: 8px 0 4px;}
  &-level {width: 100%; height: 2px; display: inline-block; margin: 0 2px;
    background: rgba(#fff, 0.2); border-radius: 2px;
    &:first-child {margin-left: 0;}
    &:last-child {margin-right: 0;}
  }
  &-level-text,
  &-note {font-size: 0.71rem; line-height: 15px;}
  &-note {color: rgba(#fff, 0.3);}
  &-weak,
  &-fair {
    .passwordstrength-level-filled {background-color: $destructive;}
    .passwordstrength-level-text {color: $destructive;}
  }
  &-good {
    .passwordstrength-level-filled {background-color: $prominent;}
    .passwordstrength-level-text {color: $prominent;}
  }
  &-strong,
  &-verystrong {
    .passwordstrength-level-filled {background-color: $positive;}
    .passwordstrength-level-text {color: $positive;}
  }
}
