@import 'vars';

:host ::ng-deep .tasks-details {
  &-header {padding-bottom: 2.71rem;}
  &-title {font-size: $title; font-weight: 700; line-height: 36px; margin: 0;}
  &-meta {display: flex; line-height: 34px; padding: 10px 0; border-bottom: 1px solid $ink-80;
    border-top: 1px solid $ink-80;
    account-task-status {margin-right: 8px;}
    .avatar {vertical-align: middle; margin: 0 4px 0 2px; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 50%;}
  }
  &-author {font-weight: 700; color: $ink;}
  &-action {margin-left: auto;}
  &-description {padding: 16px 0;}
  &-content {padding: 16px 0; border-bottom: 1px solid $ink-80;
    .tasks-details-title {display: flex; justify-content: space-between; align-items: flex-start;}
    p {margin-top: 0;}
  }
  &-name {margin-bottom: 1rem;}
  &-edit {line-height: 16px; padding: 8px;}
  &-list {list-style-type: none; margin: 0; padding-inline-start: 1rem; line-height: 1.6em;}
  &-attachments {margin-top: 1rem;
    .widget-content {flex-direction: column; align-items: flex-start;}
  }
  &-document {display: flex; width: 100%;}
  &-filesize {color: $ink-65; margin-left: 1rem;}
  &-fileactions {margin-left: auto;}
  &-action:not(:last-child) {margin-right: 0.5rem;}
  &-doctitle {margin-top: 0.5rem;}
  &-authored {font-size: $small; color: $ink-65; margin-top: 0.5rem;}
  &-sidebar {position: fixed; top: $header-height; bottom: 0; right: 0; background: $paper-98; overflow: hidden;
    z-index: 100; border-left: 1px solid $ink-80; transition: width 0.3s;
    &.expanded {width: $sidebar-right-expanded-width;
      .sidebar {padding: 0 20px;
        &-header {width: 250px; padding: 16px 0;
          .button {padding: 0.25rem 0.5rem;
            .icon {display: none;}
          }
        }
        &-toggle {padding-left: 10px; border-left: 1px solid $paper-90;}
        &-item {display: none;}
      }
      .icon-double-left-arrow {transform: rotate(180deg);}
    }
    &.collapsed {width: $sidebar-right-collapsed-width;
      .sidebar {
        &-header {flex-wrap: wrap; flex-direction: column-reverse; width: 60px; padding: 0; overflow: hidden;
          .button {height: 60px; width: 100%; border: none;}
          .button-title {display: none;}
        }
        &-block {width: 60px; padding: 0; overflow: hidden; border: none;}
        &-toggle {display: flex; justify-content: center; align-items: center; width: 100%; height: 60px;}
        &-content {display: none;}
        button:hover, a:hover {background: $paper-90;}
        &-item:hover {color: $ink;
          .icon {background: $ink;}
        }
      }
    }
    .sidebar {height: 100%; overflow-y: scroll; overflow-x: hidden; -webkit-overflow-scrolling: touch;
      width: calc(100% + 100px);
      &-header {display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid $paper-90;}
      &-block {width: 250px; padding: 16px 0; border-bottom: 1px solid $paper-90; box-sizing: border-box;}
      &-button {padding: 0.25rem 0.5rem; border: none;
        &:hover {background: $primary-90;}
      }
      &-assignee, &-deadline, &-labels, &-members, &-notifications {display: flex; align-items: center; justify-content: space-between;
        margin-bottom: 0.25rem;
      }
      &-item {display: flex; flex-direction: column; justify-content: center; align-items: center; color: $ink-50;
        height: 60px; width: 100%; border: none; padding: 0;
      }
      .icon-user {width: 23px; height: 23px;}
      .user {
        &-link {display: flex; align-items: center; color: $ink;
          &:hover {color: $primary; text-decoration: underline;}
        }
        &-avatar {width: 32px; display: flex; justify-content: center;}
        &-name {margin-left: 0.5rem;}
        .icon-user {transform: scale(1.39);}
      }
      .members {display: flex;
        &-item {padding: 0 0.5rem 0.5rem 0;}
      }
      .badge {padding: 0.25rem 0.5rem;}
      .form-group {margin-bottom: 0;}
    }
  }
  .widget {
    &-header {
      .button {display: flex; padding: 8px;}
    }
    .icon-plus {width: 12px; height: 12px; transform: scale(1.5); margin: 0;}
    .action-delete {color: $destructive;}
  }
}
