<div class="tabs">
  <ul class="tabs-menu">
    <li class="tabs-item">
      <a class="tab active">
        <div class="tab-title">Доступные</div>
        <account-badge [value]="5" [color]="'#c0c0c0'"></account-badge>
      </a>
    </li>
    <li class="tabs-item">
      <a class="tab">
        <div class="tab-title">Выполненные</div>
        <account-badge [value]="43" [color]="'#c0c0c0'"></account-badge>
      </a>
    </li>
    <li class="tabs-item">
      <a class="tab">
        <div class="tab-title">Все</div>
        <account-badge [value]="78" [color]="'#c0c0c0'"></account-badge>
      </a>
    </li>
  </ul>
</div>

