@import 'vars';

:host .signup {
  &-content {display: flex; flex-direction: column; align-items: center; flex: auto; width: 50%; min-width: 800px;
    box-sizing: border-box; padding: 63px 37px 128px 37px; margin: 0 auto;}
  &-logo {display: flex; align-items: center; justify-content: space-evenly; width: 100%; line-height: 38px;
    .icon {width: 72px; height: 19px; transform: scale(2) translateX(25%);}
  }
  &-links {text-align: center;}
  &-link {margin: 0 8px 0 auto;}
  &-title {font-size: $large; color: $primary; text-align: center; margin-bottom: 1.5em;}
  &-description {background: $paper-95; border: 2px solid $primary; border-radius: 4px; width: 100%;
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1)); margin: 72px 0 16px 0;
    .form-group {margin-bottom: 2em;}
    .button {width: 100%; margin-bottom: 16px;}
  }
  &-form {position: absolute; top: 18%; bottom: 5%; right: -3%; background: $paper-100; border: 2px solid $primary;
    border-radius: 4px; filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));
    .signup-container {max-width: 370px; padding: 2rem;}
  }
  &-container {position: relative; padding: 4rem;}

  .features {width: 40%;
    &-header {position: relative; font-size: $large; color: $primary; height: 2rem;}
    &-title {position: absolute; top: 0; left: 32px; margin-left: 8px;}
    &-description {margin-top: 20px; color: $ink;}
    &-item {padding: 17px 0; border-bottom: 1px solid $paper-90; min-height: 130px;}
    .icon {width: 25px; height: 23px;
      &-case {width: 48px; height: 48px; transform: scale(0.5) translate(-50%, -50%);}
    }
  }

  .recaptcha-wrapper {margin: 2rem 0;}

  @media(max-width: 840px) {
    &-content {width: 100%; min-width: unset; padding: 20px;}
    &-container {padding: 1rem;}
    .features {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; width: 100%;
      &-item {width: 300px;}
    }
    &-form {position: unset;
      .signup-container {max-width: unset;}
    }
  }

  @media(max-width: 480px) {
    &-logo {justify-content: space-between;
      .signup-link {display: none;}
    }
    &-container {padding: 0.5rem;}
    &-form .signup-container {padding: 0.5rem;}
  }
}
