<div class="grade-data">
  <div class="grade-data-header">
    <div class="grade-data-label">
      Сведения об образовании
    </div>
  </div>
  <div class="property">
    <div class="property-name">
      Уровень образования
    </div>
    <div class="property-value">
      Высшее образование
    </div>
  </div>
  <div class="property">
    <div class="property-name">
      Серия и номер документа
    </div>
    <div class="property-value">
      012345 6789012
    </div>
  </div>
  <div class="property">
    <div class="property-name">
      Учебное заведение
    </div>
    <div class="property-value">
      ФГБОУ ВО «Омский государственный технический университет»
    </div>
  </div>
</div>
