@import 'vars';

:host ::ng-deep .header {position: sticky; top: 0; left: 0; z-index: 500; height: 40px; background: $primary;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  &-container {display: flex; height: 100%; padding: 0 20px;}
  &-menu {flex: 1 1 auto; display: flex; justify-content: flex-end; align-items: center; margin-left: 24px;
    .button {padding: 7px 10px;}
    //.header-profile {display: flex; align-items: center; padding: 4px 8px;
    //  .icon {background: #F9FAFB;}
    //}
  }
  &-todo, &-notification, &-profile {background-color: transparent; border: none;
    &:hover {background-color: rgba(255,255,255, 0.33);}
  }
  .icon-logo {width: 72px; height: 19px; background: $paper-90; margin: auto 0;}
  actions-button-dropdown {
    .button {border: none; background: transparent; padding: 7px 10px;
      &:hover {background-color: rgba(255,255,255, 0.33);}
      .icon {background: #F9FAFB;}
      .icon-user {width: 23px; height: 23px;}
    }
  }
}
