<div class="main-data">
  <div class="main-data-header">
    <div class="main-data-label">
      Основные сведения
    </div>
  </div>
  <div class="property">
    <div class="property-name">
      Пол
    </div>
    <div class="property-value">
      Мужской
    </div>
  </div>
  <div class="property">
    <div class="property-name">
      Дата рождения
    </div>
    <div class="property-value">
      12.01.1985 г.
    </div>
  </div>
  <div class="property">
    <div class="property-name">
      Гражданство
    </div>
    <div class="property-value">
      Российская Федерация
    </div>
  </div>
  <div class="property">
    <div class="property-name">
      Серия и номер документа
    </div>
    <div class="property-value">
      0123 456789
    </div>
  </div>
  <div class="property">
    <div class="property-name">
      Телефон
    </div>
    <div class="property-value">
      +7 900 1000 20 30
    </div>
  </div>
  <div class="property">
    <div class="property-name">
      Email
    </div>
    <div class="property-value">
      address@mail.ru
    </div>
  </div>
</div>
