@import 'vars';

:host ::ng-deep .dropdown-actions-button {
  .button {
    &-primary {
      .icon {background-color: #fff;}
      &:disabled .icon {background-color: $ink-65;}
    }
    &-loading .icon {background-color: transparent;}
  }
  .dropdown-content {min-width: 140px; width: auto;}
  .dropdown-item {padding: 5px;
    &-title, &-reason {margin: 0 4px;}
    &-reason {display: block; font-size: $small;}
  }
  .dropdown-trigger .icon {width: 10px; height: 10px; vertical-align: middle; transition: 0.3s all;}
  &.dropdown-open {
    .dropdown {
      &-trigger .icon-toggle {transform: rotateX(180deg);}
      &-content {margin-top: 2px;}
    }
  }
}
