<div class="features">
  <div class="features-item">
    <div class="features-title">
      <span class="icon icon-card"></span>
      <span class="features-name">Личная карточка</span>
    </div>
    <ul class="features-description">
      <li class="features-text">Доступ к учебному плану обучающегося</li>
      <li class="features-text">Доступ к рабочим программам дисциплин/практик обучающегося</li>
      <li class="features-text">Фиксация результатов промежуточной аттестации обучающегося</li>
      <li class="features-text">Фиксация хода образовательного процесса обучающегося</li>
    </ul>
  </div>
  <div class="features-item">
    <div class="features-title">
      <span class="icon icon-case"></span>
      <span class="features-name">Портфолио</span>
    </div>
    <ul class="features-description">
      <li class="features-text">Успеваемость обучающегося</li>
      <li class="features-text">Публикации обучающегося</li>
      <li class="features-text">Список работ обучающегося с рецензиями и оценками</li>
      <li class="features-text">Награды за участие в конференциях/конкурсах</li>
    </ul>
  </div>
  <div class="features-item">
    <div class="features-title">
      <span class="icon icon-tasklist"></span>
      <span class="features-name">Задания</span>
    </div>
    <ul class="features-description">
      <li class="features-text">База учебных заданий</li>
      <li class="features-text">Контроль выполнения заданий обучающегося</li>
      <li class="features-text">Список работ обучающегося с рецензиями и оценками</li>
      <li class="features-text">Награды за участие в конференциях/конкурсах</li>
    </ul>
  </div>
</div>
