<div [ngClass]="{ 'form-group-labeled': !!label }" class="form-group">
  <label
    *ngIf="label"
    [for]="controlState.id"
    class="form-group-label">
    {{ label }}
  </label>
  <ng-container *ngIf="leftIcon && !leftActionIcon">
    <span class="form-control-icon-left icon icon-{{ leftIcon }}"></span>
    <span class="form-control-spacer"></span>
  </ng-container>
  <a
    *ngIf="leftActionIcon"
    (click)="leftActionTriggered.emit()"
    data-testid="form-control-action-left"
    class="form-control-action-left">
    <span class="icon icon-mask icon-{{ leftActionIcon }}"></span>
  </a>
  <input
    [ngrxFormControlState]="controlState"
    [type]="(isVisible) ? 'text' : 'password'"
    [autocomplete]="autocomplete"
    [placeholder]="placeholder"
    [attr.data-testid]="dataTestID"
    [attr.role]="fieldRole"
    [ngClass]="{
      'form-control-error': controlState.isSubmitted && controlState.isInvalid,
      'form-control-iconic-left': leftIcon || leftActionIcon,
      'form-control-iconic-right': rightIcon || rightActionIcon
    }"
    (ngrxFormsAction)="controlStateActionTriggered.emit($event)"
    class="form-control">
  <ng-container *ngIf="!rightActionIcon && isIconShown">
    <span
      *ngIf="rightIcon"
      class="form-control-icon-right icon icon-{{ rightIcon }}">
    </span>
  </ng-container>
  <a
    *ngIf="rightActionIcon"
    (click)="rightActionTriggered.emit()"
    data-testid="form-control-action-right"
    class="form-control-action-right">
    <span class="icon icon-mask icon-{{ rightActionIcon }}"></span>
  </a>
  <password-strength
    *ngIf="withStrength"
    [controlState]="controlState">
  </password-strength>
</div>
