@import 'fonts';
@import 'vars';

body, html {background: #f4f4f4; color: #000; font-size: 14px; font-family: $font;
  min-height: 100%; margin: 0; padding: 0; -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {width: 16px; height: 16px; display: inline-block; vertical-align: text-top;
  &-logo {background-image: url(/assets/images/logo.svg); mask-image: url(/assets/images/logo.svg);}
  &-employee {background-image: url(/assets/images/employee.svg);}
  &-card {background-image: url(/assets/images/card.svg);}
  &-case {background-image: url(/assets/images/case.svg);}
  &-tasklist {background-image: url(/assets/images/tasklist.svg);}
  &-time {background-image: url(/assets/images/time.svg);}
  &-leftarrow {background-image: url(/assets/images/left-arrow.svg);}
  &-rightarrow {background-image: url(/assets/images/right-arrow.svg);}
  &-vk {background-image: url(/assets/images/vk.svg); mask-image: url(/assets/images/vk.svg);}
  &-facebook {background-image: url(/assets/images/facebook.svg); mask-image: url(/assets/images/facebook.svg);}
  &-telegram {background-image: url(/assets/images/telegram.svg); mask-image: url(/assets/images/telegram.svg);}
  &-instagram {background-image: url(/assets/images/instagram.svg); mask-image: url(/assets/images/instagram.svg);}
  &-account {background-image: url(/assets/images/account.svg); mask-image: url(/assets/images/account.svg);}
  &-password {background-image: url(/assets/images/password.svg); mask-image: url(/assets/images/password.svg);}
  &-plan {background-image: url(/assets/images/plan.svg); mask-image: url(/assets/images/plan.svg);}
  &-list {background-image: url(/assets/images/list.svg); mask-image: url(/assets/images/list.svg);}
  &-success {background-image: url(/assets/images/success.svg); mask-image: url(/assets/images/success.svg);}
  &-todo {background-image: url(/assets/images/todo.svg); mask-image: url(/assets/images/todo.svg);}
  &-notification {background-image: url(/assets/images/notification.svg); mask-image: url(/assets/images/notification.svg);}
  &-user {background-image: url(/assets/images/user.svg); mask-image: url(/assets/images/user.svg);}
  &-toggle {background-image: url(/assets/images/toggle.svg); mask-image: url(/assets/images/toggle.svg);}
  &-view {background-image: url(/assets/images/view.svg); mask-image: url(/assets/images/view.svg);}
  &-profile {background-image: url(/assets/images/profile.svg); mask-image: url(/assets/images/profile.svg);}
  &-schedule {background-image: url(/assets/images/schedule.svg); mask-image: url(/assets/images/schedule.svg);}
  &-portfolio {background-image: url(/assets/images/portfolio.svg); mask-image: url(/assets/images/portfolio.svg);}
  &-tasks {background-image: url(/assets/images/tasks.svg); mask-image: url(/assets/images/tasks.svg);}
  &-book {background-image: url(/assets/images/book.svg); mask-image: url(/assets/images/book.svg);}
  &-statistics {background-image: url(/assets/images/statistics.svg); mask-image: url(/assets/images/statistics.svg);}
  &-search {background-image: url(/assets/images/search.svg);}
  &-error {background-image: url(/assets/images/error.svg); background: $ink-65; mask-image: url(/assets/images/error.svg);}
  &-calendar {background-image: url(/assets/images/calendar.svg);}
  &-chat {background-image: url(/assets/images/chat.svg); background: $ink-65; mask-image: url(/assets/images/chat.svg);}
  &-edit {background-image: url(/assets/images/edit.svg); background: $ink-65; mask-image: url(/assets/images/edit.svg);}
  &-done {background-image: url(/assets/images/done.svg); background: $ink-65; mask-image: url(/assets/images/done.svg);}
  &-document {background-image: url(/assets/images/document.svg); background: $ink-65; mask-image: url(/assets/images/document.svg);}
  &-plus {background-image: url(/assets/images/plus.svg); background: $ink-65; mask-image: url(/assets/images/plus.svg);}
  &-download {background-image: url(/assets/images/download.svg); background: $ink-65; mask-image: url(/assets/images/download.svg);}
}

/* links */
a {text-decoration: none; color: #0D4CD3; transition: all 0.6s; cursor: pointer;
  &:hover {transition: all 0.2s;}
}
.link {border-bottom: transparent 1px solid;
  &:hover {border-bottom-color: #0D4CD3;}
}

input, select, textarea, button {outline: none; font-family: $font; font-size: 1rem;
  box-sizing: border-box; border: 0;
}

input, textarea, select {filter: none;}

/* button */
.button {padding: 8px 14px; background-color: $paper-98; border: 1px solid $ink-80;
  border-radius: 3px; color: $ink; font-size: 1rem; outline: none; box-sizing: border-box;
  font-weight: 500; line-height: 18px; text-align: center; transition: all 0.2s;
  cursor: pointer; display: inline-block; vertical-align: top; margin: 0;
  &:hover {background-color: #fcfcfc;}
  &:focus {background-color: $paper-95;}
  &:disabled {background-color: $paper-95; color: $ink-80; border-color: $ink-80;
    pointer-events: none;
  }
  &-primary {background-color: $primary; color: #fff; border-color: #325BA3;
    &:hover {background-color: #417FD7;}
    &:focus {background-color: #235AA9; border-color: #25457A;}
  }
  &-secondary {background-color: $paper-100; color: $primary; border-color: #325BA3;
    &:hover {background-color: #417FD7; color: #fff;}
    &:focus {background-color: #235AA9; border-color: #25457A; color: #fff;}
  }
  &-transparent {background-color: transparent;}
}

.tile {background: $paper-100; box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);}

/* grid */
.container {width: 100%; padding: 0; box-sizing: border-box; margin: 0 auto;}
.row {display: flex; flex-basis: 0; flex-wrap: wrap; margin: 0 -10px;
  &-largegap {margin: 0 -40px;
    .col {padding: 0 40px;}
  }
  &-nogap {margin: 0;}
}
.col {flex: 0 0 100%; padding: 0 10px; box-sizing: border-box;
  &-25 {width: 25%; flex: 0 0 25%;}
  &-33 {width: 33.6%; flex: 0 0 33.3%;}
  &-50 {width: 50%; flex: 0 0 50%;}
  &-66 {width: 66.6%; flex: 0 0 66.6%;}
  &-75 {width: 75%; flex: 0 0 75%;}
}

/* forms */
.form {
  &-group {position: relative; margin-bottom: $small;
    &-labeled {
      .form-control {
        &-icon, &-action {
          &-right, &-left {top: 25px;}
        }
      }
    }
    .label-row {display: flex; color: $ink-50;
      &-spacer {flex: 1 1 auto;}
    }
    &-label {position: relative; display: block; margin-bottom: 8px; color: $ink-50;
      font-weight: 500; pointer-events: none;
      &.required:after {content: '*'; color: $destructive; position: relative;}
    }
    .form-radio {display: inline-block; margin-right: 16px;
      &:last-child {margin-right: 0;}
    }
    .textarea-wrapper {position: relative;
      textarea {height: 120px; resize: vertical; display: block;
        &::-webkit-resizer {display: none;}
      }
      &:before, &:after {content: ''; position: absolute; pointer-events: none;}
      &:before {bottom: 2px; right: 2px; height: 16px; width: 16px;
        background-color: transparent;
      }
      &:after {bottom: 0; right: 3px; width: 0; height: 0; border: 6px solid transparent;
        border-left-color: $ink-65; border-right: none; transform: rotate(45deg);
      }
    }
  }
  &-control {width: 100%; padding: 8px 12px; border: 1px solid $ink-80; border-radius: 3px;
    min-height: 36px; max-width: 100%; color: $ink; line-height: 18px; transition: all 0.2s;
    &:hover {border-color: $ink-65;}
    &:focus {border-color: $primary; box-shadow: 0 0 2px $primary;}
    &:disabled {background-color: $paper-95; pointer-events: none;}
    &::placeholder,
    &::-webkit-input-placeholder {color: $ink-65;}
    &-success, &-success:hover {border-color: $positive; box-shadow: none;}
    &-error {
      &, &:hover, &:focus {border-color: $destructive; box-shadow: none;}
    }
    &-iconic {
      &-left {padding-left: 42px;}
      &-right {padding-right: 32px;}
    }
    &-icon {
      &-left, &-right {position: absolute; top: 0; margin: 10px; pointer-events: none;}
      &-left {left: 0;}
      &-right {right: 0;}
    }
    &-action {
      &-left, &-right {position: absolute; top: 0; margin: 10px; cursor: pointer;
        .icon:hover {background-color: $ink-50;}
      }
      &-left {left: 0;}
      &-right {right: 0;}
    }
    &-spacer {position: absolute; left: 36px; top: 26px; width: 1px; height: 32px; background: $ink-65;}
  }
  &-control::-ms-input-placeholder {color: $ink-65;}
  &-helper {width: fit-content; position: relative; padding: 4px 8px;
    background-color: $primary-80; border-radius: 3px; font-size: $tiny;
    color: #fff; margin: 6px auto 0;
    &::before {content: ''; width: 8px; height: 8px; position: absolute; top: 0;
      left: 50%; transform: translate(-50%, -50%) rotate(45deg);
      background-color: inherit;
    }
    &-success {color: $ink-50;}
    &-error {background-color: $destructive;}
  }
  &-control, &-group * {
    & ~ validation-errors .form-helper-error {pointer-events: none;
      position: absolute; top: 100%; left: 0; right: 0; z-index: 3;
      text-align: center;
    }
  }
  &-buttons {margin: 24px 0;}
  &-errors, &-messages {
    .form-error {background-color: $destructive-bg; color: $destructive-text;
      &::before {background-color: $destructive;}
      &-message {margin-bottom: 0.67rem;
        &:last-of-type {margin: 0;}
      }
    }
    .form-warn {background-color: $prominent-80; color: $prominent-text;
      &::before {background-color: $prominent;}
    }
    .form-success {background-color: $positive-80; color: $positive-text;
      &::before {background-color: $positive;}
    }
  }
  &-error,
  &-warn,
  &-success {position: relative; padding: 8px 16px; border-radius: 4px; color: #fff;
    line-height: 21px; overflow: hidden;
    &::before {content: ''; position: absolute; top: 0;left: 0; bottom: 0; width: 4px;}
    a {color: inherit !important;}
  }
  &-note {color: $destructive-note; font-size: $small;}
  &-action {cursor: pointer; background-color: $paper-100; color: $primary;}
  .row {margin: 0 -6px;}
  .col {padding: 0 6px;}
}

/* dropdown */
.dropdown {position: relative; display: inline-block; z-index: 2; line-height: normal;
  &-content {background: #fff; position: absolute; width: 250px; top: 100%; left: 0;
    text-align: left; opacity: 0; pointer-events: none; padding: 4px 3px;
    border: 1px solid $ink-80; border-radius: 3px; box-sizing: border-box;
    transition: all 0.3s; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    &-scrollable {overflow: hidden;}
  }
  &-trigger {line-height: 18px;}
  &-open {z-index: 5;
    .dropdown-content {top: 100%; opacity: 1; z-index: 1;
      pointer-events: auto;
    }
  }
  &-right .dropdown-content {left: auto; right: 0;}
  &-item {display: block; max-width: 100%; padding: 8px; border-radius: 2px;
    box-sizing: border-box; color: $ink; white-space: nowrap; overflow: hidden;
    text-overflow: ellipsis;
    &:hover {background: $paper-95;}
    &:last-of-type {border-bottom: 0;}
    &-caution {color: $destructive;
      .icon {background-color: $destructive; transition: all 0.3s;}
      &:hover {background-color: $destructive; color: #fff;
        .icon {background-color: #fff;}
      }
    }
    &-info {font-weight: 600;}
    &.disabled {pointer-events: none; position: relative;}
    &-separator {height: 1px; width: 100%; background: $ink-80; margin: 4px 0; box-sizing: border-box;}
  }
  &-scroll {max-height: 226px; overflow: hidden; overflow-y: scroll; scrollbar-width: none;
    &::-webkit-scrollbar {display: none;}
  }
  &-reset {position: absolute; top: 10px; right: 26px;
    .icon {background-color: $ink-80;
      &:hover {background-color: $ink-50;}
    }
  }
  &.disabled {background-color: $paper-95; pointer-events: none;
    input {background-color: $paper-95;}
  }
}

/* custom select */
.custom-select, .custom-multiselect {width: 100%; box-sizing: border-box;
  .dropdown-trigger {border: 1px solid $ink-80; border-radius: 3px; min-height: 36px;
    padding: 8px 12px; width: 100%; display: inline-block; box-sizing: border-box;
    color: $ink; background-color: #fff;
    &-placeholder {color: $ink-65;}
    &-icon {position: absolute; top: 0; right: 0; width: 10px; height: 10px; margin: 13px;  background: $ink-65;
      transition: transform 0.3s;}
    &:hover {border-color: $ink-65;}
  }
  .dropdown-content {width: 100%; top: 100%; border-top: none; border-radius: 0 0 3px 3px;}
  &.dropdown-open {
    .dropdown-trigger {border-radius: 3px 3px 0 0; box-shadow: 0 0 2px $primary;
      border-color: $primary !important; border-bottom-color: transparent;
      &:after {content: ''; position: absolute; height: 1px; left: 4px; right: 4px;
        bottom: 0; background-color: $paper-95;
      }
      &-canrotate .dropdown-trigger-icon {transform: rotateX(180deg);}
    }
    .dropdown-content {margin-top: 0; border-color: $primary; box-shadow: 0 0 2px $primary;}
    &:before {content: ''; position: absolute; width: calc(100% - 2px); height: 2px;
      margin: 0 1px; background-color: #fff; top: calc(100% - 2px); left: 0; z-index: 1;
    }
    &:after {content: ''; position: absolute; width: calc(100% - 8px); height: 1px;
      margin: 0 4px; background-color: $ink-80; top: calc(100% - 1px); left: 0; z-index: 1;
    }
  }
  .dropdown-item {height: 32px;
    &.not-found {text-align: center;
      &:hover {background-color: transparent;}
    }
  }
  &-error {position: relative;
    .dropdown-trigger {
      &, &:hover {border-color: $destructive;}
    }
  }
  &.disabled .dropdown {
    &-trigger {background-color: transparent;}
    input {background-color: $paper-95;}
  }
}

/* thumbnail */
.thumbnail {width: 100%; height: 100%; object-fit: cover;}

.property {display: flex; align-items: flex-end; margin-bottom: 1.71rem; word-break: break-word;
  &-name {position: relative; overflow: hidden; width: 37%; flex: 0 0 37%; margin-right: 16px; line-height: 20px;
    color: $ink-65; align-self: baseline;}
  &-value {align-self: flex-end; line-height: 20px; width: 63%; flex: 0 0 63%;}
}

/* material datepicker */
.form-group-datepicker {
  .mat-form-field {width: 100%;
    &-label {top: 0; padding: 10px 28px 10px 12px; box-sizing: border-box; color: $ink-65; line-height: 1rem;
      &-wrapper {top: 0; padding: 0;}
    }
    &-underline {display: none !important;}
    &-wrapper {padding-bottom: 0 !important;}
    &-infix {border-top: 1px solid transparent !important; padding: 0 !important; font-family: $font;
      .icon {position: absolute; top: 0; right: 0; margin: 9px; pointer-events: none;}
    }
  }
  .form-control {border: 1px solid $ink-80; border-radius: 3px; box-sizing: border-box; padding: 8px 28px 8px 12px;
    background-color: #fff; line-height: 18px; cursor: pointer !important; vertical-align: middle;
    &:hover {border-color: $ink-65;}
    &:focus {border-color: $primary;}
    &:disabled {background-color: $paper-95; pointer-events: none;}
    &-error {
      &, &:hover, &:focus {border-color: $destructive;}
    }
  }
  &.opened {
    .form-control {border-color: $primary !important; box-shadow: 0 0 2px $primary;}
    .mat-form-field {
      &:before, &:after {content: ''; position: absolute; left: 0; z-index: 10000;}
      &:before {width: calc(100% - 2px); height: 8px; margin: 0 1px; background-color: #fff;}
      &:after {width: calc(100% - 8px); height: 1px; margin: 0 4px; background-color: $paper-95;}
    }
    &-below {
      .form-control {border-bottom-color: transparent !important; border-radius: 3px 3px 0 0;}
      .mat-form-field {
        &:before {top: 32px;}
        &:after {top: 36px;}
      }
    }
    &-above {
      .form-control {border-top-color: transparent !important; border-radius: 0 0 3px 3px;}
      .mat-form-field {
        &:before {top: -4px;}
        &:after {top: -1px;}
      }
    }
  }
}
.mat-datepicker-content {position: relative; border: 1px solid $primary;
  border-radius: 3px !important; box-shadow: 0 0 2px $primary; border-top: 1px solid $primary;
  .mat-calendar {width: 290px !important; height: auto !important; font-family: $font !important;
    &-controls {margin: 0 !important; padding: 0 4px; height: 46px; align-items: center;
      border-bottom: 1px solid $paper-95;
      .mat-button:hover .mat-button-focus-overlay {opacity: 0 !important;}
      .mat-calendar {
        &-previous-button, &-next-button {width: 16px; height: 16px; margin: 4px; background-color: #fff;
          &:after {border: unset; transform: unset; background-color: $ink-65; width: 16px; height: 16px;
            mask-image: url(/assets/images/icons.svg); margin: 0;
          }
          &:hover:after {background-color: $ink-50;}
        }
        &-previous-button {order: 1;
          &:after {mask-position: -32px 0;}
        }
        &-period-button {order: 2; flex: 1 1 auto; text-transform: lowercase; font-family: $font;
          margin: 0 12px; background-color: $paper-95; height: 32px; line-height: 32px; border-radius: 4px;
          .mat-button-wrapper {display: inline-block;
            &::first-letter {text-transform: uppercase;}
          }
        }
        &-next-button {order: 3;
          &:after {mask-position: -16px 0;}
        }
        &-spacer {display: none;}
      }
    }
    &-header {position: relative; padding: 2px 4px; border-radius: 3px; background-color: #fff;}
    &-table {width: 90%; margin: auto;
      &-header {
        th {padding: 14px 0 10px; color: $ink-50; font-size: $tiny;}
        &-divider {display: none;
          &::after {background: transparent !important;}
        }
      }
    }
    &-content {padding: 2px 8px;}
    &-body {font-size: 1rem;
      &-label {padding: 0 !important; font-size: 0;}
      &-cell {
        &-content {border-radius: 3px !important; border: none; width: 80%; height: 80%;}
        &:hover .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
          border-color: transparent !important; background-color: $paper-95 !important; color: $primary;
        }
        &.mat-calendar-body-disabled {
          .mat-calendar-body-cell-content {color: $ink-80;}
          &:hover .mat-calendar-body-cell-content {background-color: transparent !important; color: $ink-80;}
        }
      }
      &-selected {border-color: transparent !important; background-color: $primary !important; color: #fff;}
      &-today {box-shadow: none;}
    }
    &-arrow {position: absolute; top: 0; right: 0; border: unset; display: inline-block;
      width: 16px; height: 16px; margin: 8px 12px;
      &:after {content: ''; position: absolute; background-color: $ink-50; top: 0; left: 0;
        width: 16px; height: 16px; mask-image: url(/assets/images/icons.svg); mask-position: -176px 0;}
      &.mat-calendar-invert {transform: unset;
        &:after {transform: rotate(180deg);}
      }
    }
  }
  .actions {
    .mat-icon {color: $primary; width: unset; height: unset;
      &::first-letter {text-transform: uppercase;}
    }
  }
}
.cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  background-color: #fff;
}

/* widget */
.widget {background: $paper-100; box-sizing: border-box; border: 1px solid $ink-80; border-radius: 4px;
  &-content {display: flex; align-items: center; padding: 16px;}
  &-status {transform: scale(1.375); margin-right: 8px;}
  &-title {font-weight: 600; margin-left: 8px;}
  &-header {display: flex; align-items: center; background: $paper-95; padding: 6px 16px;}
  &-footer {display: flex; align-items: center; justify-content: space-between; border-top: 1px solid $ink-80;
    padding: 8px 16px; background: $paper-90;
    .button {padding: 0.25rem 0.5rem;}
  }
  &-pipes {display: flex; align-items: center; margin-left: auto;
    .icon {transform: scale(1.125);}
  }
  &-info {font-size: $small; margin-left: 32px;}
  .icon-done {background: $brand-green;}
  .icon {margin-right: 4px;}
  &-counter {margin: 0 1rem;}
}
