<div class="training-data">
  <div class="training-data-header">
    <div class="training-data-label">
      Сведения об обучении
    </div>
  </div>
  <div class="property">
    <div class="property-name">
      Место текущего обучения
    </div>
    <div class="property-value">
      АО «Автоматические системы разведки местности»
    </div>
  </div>
  <div class="property">
    <div class="property-name">
      Специальность
    </div>
    <div class="property-value">
      Машинное обучение и нейросети
    </div>
  </div>
  <div class="property">
    <div class="property-name">
      Договор на обучение
    </div>
    <div class="property-value">
      158-2
    </div>
  </div>
</div>
