<div class="tasks-details-content">
  <div class="tasks-details-title">
    <div class="tasks-details-name">Моделирование динамических систем</div>
    <button class="button button-transparent tasks-details-edit">
      <span class="icon icon-edit"></span>
    </button>
  </div>
  <div class="tasks-details-description">
    <p>Сделать следующее:</p>
    <ul class="tasks-details-list">Первое задание</ul>
    <ul class="tasks-details-list">Второе задание</ul>
    <ul class="tasks-details-list">Отчет</ul>
  </div>
  <div class="widget tasks-details-status">
    <div class="widget-header">
      <span class="icon icon-done widget-status"></span>
      <span class="widget-title">Отчет
        <a class="widget-link">#341</a>
        ожидает подтверждения
      </span>
      <span class="widget-pipes">
        <span class="icon icon-done"></span>
        <span class="icon icon-done"></span>
        <span class="icon icon-done"></span>
        <button class="button button-transparent">Подтвердить</button>
      </span>
    </div>
    <div class="widget-footer">
      <span class="widget-info">Загружено 9 часов назад</span>
    </div>
  </div>
</div>
