<div class="tasks-details-content">
  <div class="tasks-details-title">
    <div class="tasks-details-name">Моделирование динамических систем</div>
    <button class="button button-transparent tasks-details-edit">
      <span class="icon icon-edit"></span>
    </button>
  </div>
  <div class="tasks-details-description">
    <p>Сделать следующее:</p>
    <ul class="tasks-details-list">Первое задание</ul>
    <ul class="tasks-details-list">Второе задание</ul>
    <ul class="tasks-details-list">Отчет</ul>
  </div>
  <div class="widget tasks-details-status">
    <div class="widget-content">
      <span class="icon icon-done widget-status"></span>
      <span class="widget-title">Отчет
        <a class="widget-link">#341</a>
        ожидает подтверждения
      </span>
      <span class="widget-pipes">
        <span class="icon icon-done"></span>
        <span class="icon icon-done"></span>
        <span class="icon icon-done"></span>
        <button class="button button-transparent">Подтвердить</button>
      </span>
    </div>
    <div class="widget-footer">
      <span class="widget-info">Загружено 9 часов назад</span>
      <button class="button button-transparent">Просмотр</button>
    </div>
  </div>

  <div class="widget tasks-details-attachments">
    <div class="widget-header">
      <span class="widget-title">Приклепленные материалы</span>
      <span class="widget-counter">
        <span class="icon icon-document"></span>
        1
      </span>
      <button class="button button-transparent">
        <span class="icon icon-plus"></span>
      </button>
    </div>
    <div class="widget-content">
      <div class="tasks-details-document">
        <div class="tasks-details-filename">lab_systems.pdf</div>
        <div class="tasks-details-filesize">1.4 Mb</div>
        <div class="tasks-details-fileactions">
          <a class="tasks-details-action">
            <span class="icon icon-edit"></span>
          </a>
          <a class="tasks-details-action">
            <span class="icon icon-download"></span>
          </a>
          <a class="tasks-details-action">
            <span class="action-delete">Удалить</span>
          </a>
        </div>
      </div>
      <div class="tasks-details-doctitle">Учебное пособие по выполнению работы</div>
      <div class="tasks-details-authored">
        Загружено
        <a>Иванов Е. В. </a>
        <span class="tasks-details-date">14 августа 2021 12:40</span>
      </div>
    </div>
  </div>
</div>
