<div class="tree-item">
  <div class="tree-item-container">
    <div class="tree-item-main">
      <a
        [routerLink]="'./details'"
        class="tree-item-title">
        Моделирование динамических систем
      </a>
      <div class="tree-item-info">
        <span class="tree-item-reference"> #14 </span>
        <span class="tree-item-authored">
          · выдано
          <span class="tree-item-date">6 дней назад</span>
           от
          <a class="tree-item-link"> Александр Мельник &nbsp; </a>
          <account-badge [color]="'#F0AD4E'" [value]="'Назначено'"></account-badge>
        </span>
      </div>
    </div>
    <div class="tree-item-meta">
      <div class="tree-item-controls">
        <a class="tree-item-control">
          <span class="icon icon-user"></span>
        </a>
        <a class="tree-item-control">
          <span class="icon icon-chat"></span>
          <span class="tree-item-value">14</span>
        </a>
      </div>
      <div class="tree-item-updated">обновлено 2 дня назад</div>
    </div>
  </div>
</div>
