<section class="news tile">
  <div class="news-header">Новости</div>
  <div class="news-content">
    <h1 class="news-title">
      <a>Конкурс рисунков и плакатов «Безопасность глазами детей»</a>
    </h1>
    <pre class="news-text">Уважаемые коллеги!

      Приглашаем вас принять участие в работе Всероссийского конкурса рисунков и плакатов «Безопасность глазами детей», который проводится с 20 сентября по 31 октября 2021 г.
    </pre>
    <div class="news-meta">
      <span class="icon icon-time"></span>
      <span class="news-time">23.09.2021</span>
    </div>
  </div>
  <div class="news-controls">
    <a class="news-control"><span class="icon icon-leftarrow"></span></a>
    <span class="news-pagination">1 / 3</span>
    <a class="news-control"><span class="icon icon-rightarrow"></span></a>
    <a class="news-link">Все новости</a>
  </div>
</section>
