<form
  *ngrxLet="formState$; let formState"
  [ngrxFormState]="formState"
  (submit)="formSubmitted()"
  (ngrxFormsAction)="formActionTriggered($event)"
  role="form"
  class="tasks-details-form">
  <form-textarea
    [controlState]="formState.controls.content"
    (controlStateActionTriggered)="formActionTriggered($event)"
    placeholder="Оставьте здесь свой комментарий...">
  </form-textarea>
  <button
    type="submit"
    role="button"
    class="button button-transparent">
    Отправить
  </button>
</form>
