<div class="lesson">
  <div class="lesson-header">
    <span class="lesson-title">Электротехника</span>
    <span class="lesson-actions">
      <span class="lesson-action">
        <schedule-lesson-counter [showCount]="false"></schedule-lesson-counter>
      </span>
    </span>
  </div>
  <div class="metadata">
    <div class="metadata-item">
      <span class="metadata-place">МЕСТО ПРОВЕДЕНИЯ: </span>
      8-204
    </div>
    <div class="metadata-item">
      <span class="metadata-target">УЧАСТНИКИ: </span>
      ЭМ-103
    </div>
    <div class="metadata-item">
      <span class="metadata-lecturer">ПРЕПОДАВАТЕЛЬ: </span>
      Антонов А.Н.
    </div>
  </div>
</div>
